body {
  margin: 0;
  padding: 0;
  /* position: relative; */
}

.container {
  display: grid;
  grid-template-areas:
    "game game game game game title"
    "game game game game game heartContainer"
    "game game game game game timeAlive"
    "game game game game game fame"
    "game game game game game fame";
  width: 100vw;
  height: 100vh;
  /* width:1200px; */
  /* height:800px; */
  background: white;
  /* border: 2px solid blue; */
}

.title {
  grid-area: title;
  font-size: 30px;
  border: 2px solid red;
  background: blue;
}

.timeAlive {
  grid-area: timeAlive;
  font-size: 100px;
  text-align: center;
  color:#61C06E;
  border: 2px solid red;
  background: black;
}



.gameOutter {
  position: relative;
  grid-area: game;
  width: 100%;
  border: 2px solid red;
  background: gray;
}

.gameInner {
  position: absolute;
}

.character {
  position: relative;
  background-image: url("hero.gif");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
}


/* .stair {
  background-image: url("stair.png");
  background-size: contain;
  width: 100px;
  height: 100px;
  border: 1px solid black;
} */

.hallOfFame {
  grid-area: fame;
  border: 2px solid red;
  background: transparent;
}

.heartContainer {
  grid-area: heartContainer;
  height:100px;
  display: flex;
  border: 3px solid blue;
  background: white;
  border: 2px solid red;
}

.heartName {
  flex: 1;
}

.fame{
  color:green;
  border:2px solid black;
}
.shame{
  color:red;
  border:2px solid black;
}
h2{
  font-family: impact;
  text-align: center;
  /* border: 1px solid blue; */
}
