body {
  margin: 0;
  padding: 0;
}

.loadingScreenOutter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: black;
}

.loadingScreenInner > div{
  position: absolute;

}

.loadingScreenInner {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background: #dc143c;
}

.controls1 {
  display: none;
  width: 400px;
  height: 200px;
  top: 100px;
  left: 400px;
  padding-left: 8px;
  background: black;
  opacity: .8;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.story1 {
  display: none;
  letter-spacing: 4px;
  width: 600px;
  height: 300px;
  top: 100px;
  left: 300px;
  padding-left: 8px;
  background: black;
  opacity: .8;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

button.story {
  top: 640px;
  left: 350px;
}

button.controls {
  top: 640px;
  left: 510px;
}

button.playGame {
  top: 640px;
  left: 670px;
}

button {
  position: absolute;
  width: 150px;
  height: 60px;
  font-size: 15px;
  color: white;
  background: black;
  font-family: 'Press Start 2P', cursive;
  border-radius: 25%;
}

button:hover {
  color: #dc143c;
}

h1.landing {
  font-size: 50px;
}

.character1 {
  background-image: url("../images/hero.gif");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  top: 200px;
  animation: moveHero 3.5s linear forwards;
}

.princess1 {
  background-image: url("../images/prin2.gif");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  top: 200px;
  left: 400px;
  animation: movePrincess 3s linear forwards;
}

.loadingSkel1 {
  background-image: url("../images/skeleton.gif");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 300px;
  transform: scaleX(-1);
  animation: move 3s linear forwards;
}

.loadingSkel2 {
  background-image: url("../images/skeleton.gif");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  top: 200px;
  left: 300px;
  transform: scaleX(-1);
  animation: move 3s linear forwards;
}

.loadingSkel3 {
  background-image: url("../images/skeleton.gif");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  top: 300px;
  left: 300px;
  transform: scaleX(-1);
  animation: move 3s linear forwards;
}

.castle {
  background-image: url("../images/castle.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  top: 100px;
  right: 0px;
}

@keyframes move {
  20% {
    left: 300px;
  }

  40% {
    left: 566px;
  }

  60% {
    left: 832px;
  }

  100% {
    left: 1050px;
    visibility: hidden;
  }
}

@keyframes movePrincess {
  20% {
    left: 400px;
  }

  40% {
    left: 700px;
  }

  60% {
    left: 900px;
  }

  100% {
    left: 1100px;
    visibility: hidden;
  }
}

@keyframes moveHero {
  20% {
    left: 0px;
  }

  40% {
    left: 400px;
  }

  60% {
    left: 700px;
  }

  100% {
    left: 1050px;
    visibility: hidden;
  }
}

.container {
  display: grid;
  grid-template-areas:
    "game game game game game title"
    "game game game game game heartContainer"
    "game game game game game timeAlive"
    "game game game game game fame"
    "game game game game game fame";
  width: 100vw;
  height: 100vh;
  background: black;
}

.title {
  grid-area: title;
  font-size: 40px;
  /* border: 2px solid gray; */
  background: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  max-width: 300px;
}

.timeAlive {
  grid-area: timeAlive;
  font-size: 50px;
  text-align: center;
  color: #61C06E;
  border: 2px solid gray;
  background: black;
  min-width: 98%;
  font-family: 'Press Start 2P', cursive;
}

.gameOutter {
  position: relative;
  grid-area: game;
  /* border: 2px solid gray; */
  background: black;
}

.gameInner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.character {
  position: relative;
  background-image: url("../images/hero.gif");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
}

.hallOfFame {
  grid-area: fame;
  border: 2px solid gray;
  background: transparent;
  overflow: scroll;
  color: white;
}

.heartContainer {
  grid-area: heartContainer;
  height: 100px;
  display: flex;
  border: 2px solid gray;
  color: white;
  background: black;
}

.fame {
  color: green;
  max-width: 100%;
}

.shame {
  color: red;
  max-width: 100%;
}

h1, h2 {
  letter-spacing: 3px;
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
